---
import { Icon } from 'astro-icon/components'
---

<div class="py-10 px-4 bg-slate-700">
    <div class="flex flex-col lg:flex-row lg:items-center lg:justify-around gap-10 max-w-screen-2xl mx-auto border-b pb-10">
        <div class="flex flex-col justify-center items-center gap-3">
            <div class="">
                <img src="/images/decoLogo.png" class="h-20 text-slate-100" alt="">
            </div>
            <div class="flex gap-5 justify-center">
                <a href=""><Icon name="facebook" class="text-slate-100 text-2xl"/></a>
                <a href=""><Icon name="instagram" class="text-slate-100 text-2xl"/></a>
                <a href=""><Icon name="x" class="text-slate-100 text-2xl"/></a>
            </div>
        </div>
        <div class="">
            <p class="text-slate-300 text-center text-sm w-3/5 mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt illum ad distinctio commodi at sequi sed possimus, aut molestiae corrupti repellat exercitationem deleniti.
            </p>
        </div>
        <div class="flex justify-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13589.06714278174!2d-60.704378201281735!3d-31.62654503751941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1724629184771!5m2!1ses-419!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="max-w-screen-2xl py-10 mx-auto">
        <p class="text-slate-200">© Copyright - CONS todos los derechos reservados</p>
    </div>
</div>


