---
import { Icon } from 'astro-icon/components'
const features = [{logo:"maletin",
                   title:"Trabajo Rapido",
                   txt:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus amet eius porro? Dolorem, repudiandae?"},
                   {logo:"money",
                   title:"Economico",
                   txt:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus amet eius porro? Dolorem"},
                    {logo:"volante",
                    title:"Maneje su tiempo",
                    txt:"Lorem ipsum dolor sit amet consectetur adipisicing elit.  ducimus amet eius porro? Dolorem, repudiandae?"},
                    {logo:"informe",
                    title:"Resultados",
                    txt:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus amet eius porro? Dolorem, repudiandae?"},
                    {logo:"carpeta",
                    title:"Facilidades",
                    txt:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus amet eius porro?"},
                    {logo:"almacenamiento",
                    title:"Variedad de opciones",
                    txt:"Lorem ipsum dolor sit, consectetur adipisicing elit. Praesentium, modi qui. Tempore aliquid facilis error pariatur? Aliquam, magnam."}
                   ]
---

<section class="py-24 px-4" id="ourfeatures">
    <h1 class="mb-5 text-center font-bold text-xl md:text-2xl lg:text-3xl">OUR FEATURES</h1>
    <p class="mb-24 text-center max-w-5xl mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum amet laborum, ipsum accusantium ducimus nam repellendus! Itaque assumenda quisquam ea, rerum voluptatibus temporibus reprehenderit illum inventore. Necessitatibus harum facere saepe?</p>
    <div class="flex flex-wrap gap-8 justify-center">
        {features.map((icono)=>{
            return(
            <div class="text-center max-w-md ">
                <div class="inline-block p-4 bg-blue-800 rounded-md mb-3">
                    <Icon name={icono.logo} class="text-slate-100 text-5xl "/>
                </div>
                <h3 class="text-center font-bold text-xl mb-2">{icono.title}</h3>
                <p>{icono.txt}</p>
            </div>
            )
        })}
    </div>
</section>