<div class="contenedorFondo w-full bg-cover bg-center bg-[url('https://media.revistaad.es/photos/648feb2da0cdd7c8ec04210f/16:9/w_2560%2Cc_limit/r-architecture-rOk4VSMS3Ck-unsplash.jpg')]">
    <div class="w-full h-full bg-sky-950/50 py-10 flex justify-center items-center">
        <div class="contenedorContenido px-5">
            <h2 class="mb-8 md:mb-10 lg:mb-12 font-bold text-2xl md:text-3xl lg:text-5xl text-center text-slate-50">BUSSINES CORPORATE & CONSULTING</h2>
            <p class="mb-8 text-base md:text-lg lg:text-xl text-center text-slate-200">We help clients find ways to turn into actionable insights by embedding economics across their organization's strategy</p>
            <div class="flex flex-wrap gap-5 w-4/5 justify-center mx-auto">
                <button class="border px-3 py-2 font-semibold text-slate-100 | hover:bg-sky-500/50 active:bg-sky-600 ">LEARN MORE</button>
                <button class="border px-3 py-2 font-semibold text-slate-100 | hover:bg-sky-500/50 active:bg-sky-600">CONTACT US</button>
            </div>
        </div>
    </div>
</div>

<style>
    .contenedorFondo{
        height: 30rem;
    }
    .contenedorContenido{
        width: 35rem;
    }
</style>