<div class="w-full py-10 border">
    <div>
        <h2 class="mb-8">BUSSINES CORPORATE & CONSULTING</h2>
        <p class="mb-8">We help clients find ways to turn into actionable insights by embedding economics across their organization's strategy</p>
        <div class="flex gap-5 w-4/5 mx-auto">
            <button class="border px-3 py-2">LEARN MORE</button>
            <button class="border px-3 py-2">CONTACT US</button>
        </div>
    </div>
</div>