<div class="py-10 px-8">
    <h2 class="text-xl font-bold">NOSOTROS</h2>

    <div class="relative  flex flex-col lg:flex-row w-11/12 border border-black mx-auto py-5">
        <img class="w-4/5 max-w-96 mx-auto" src="https://i.pinimg.com/564x/19/23/15/1923158ac6e0b54e5205724a3cff6710.jpg" alt="">

        <div class="border border-black relative | bg-slate-900 rounded-lg w-11/12 h-11/12 max-w-96 max-h-96 py-3 px-5 flex justify-center flex-col gap-5">
            <p class="italic text-slate-100 text-lg text-center">Confiá en nosotros</p>
            <p class=" text-slate-300 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ducimus doloremque corporis vel, iure nemo? Veniam cupiditate </p>
        </div>

    </div>
    
</div>