<div class="py-10 px-8">
    <h2>SOBRE NOSOTROS</h2>
    <p><span class="text-xl italic border">S</span>omos una empresa con mas de diez años en el rubro de la decoracion de interiores, contamos con un nivel nacional que nos enorgullece exponer a la hora de darnos a conocer. Contamos con proyectos a futuro, nuestro objetivo es darnos a conocer del mismo modo de manera internacional</p>
    
</div>