---
import { Icon } from 'astro-icon/components'

import Header from '../components/Layout/Header/Header.astro'
import Hero from '../components/Section/home/Hero/Hero.astro'
import OurFeatures from '../components/Section/home/OurFeatures/OurFeatures.astro'
import Contact from '../components/Section/home/Contact/Contact.astro'
import Footer from '../components/Layout/Footer/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<Hero />
		<OurFeatures /> 
		<Contact />
		<Footer />
	</body>
</html>


<style>
	html {
  scroll-behavior: smooth;
}
</style>