---
import { Icon } from 'astro-icon/components'
import Logo from '../../Logo/Logo.astro'
---

<header class="w-full border">
    <div class="flex flex-col max-w-6xl mx-auto border border-black">
        <div class="py-5 px-2 lg:px-5 flex flex-col lg:flex-row justify-between items-center border-b-2">
            <section class="flex gap-5 flex-wrap justify-center">
                <div class="flex flex-col justify-center items-center ">
                    <Icon name="Phone" class='text-center '/>
                    <p class="text-sm text-center">342-45522558</p>
                </div>
                <div class="flex flex-col justify-center items-center ">
                    <Icon name="Mail" class='text-center '/>
                    <p class="text-sm text-center">text-prueba@hmail.com</p>
                </div>
                <div class="flex flex-col justify-center items-center ">
                    <Icon name="Location" class='text-center '/>
                    <p class="text-sm text-center">Av. San Martin 1234, Santa Fe, Malasia</p>
                </div>
            </section>
            <section class="pt-5 py-3 flex gap-10">
                <a href=""><Icon name="facebook"/></a>
                <a href=""><Icon name="instagram"/></a>
                <a href=""><Icon name="x"/></a>
            </section>
        </div>
        <div class="py-5 flex justify-between px-5 items-center">
            <div class="flex border p-0">
                <Icon name="factory" class="text-5xl"/> <p class="justify-center items-center flex">CONS</p>
            </div>
            <div class="w-2/3">
                <Icon name="MenuBurguer" title="Menu" class="text-5xl md:hidden ml-auto mr-5"/>
                <section class="hidden md:block w-full border">
                    <ul class="flex justify-evenly">
                        <li><a href="">Home</a></li>
                        <li><a href="">Our Features</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Service</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</header>