---
import { Icon } from 'astro-icon/components'


---

<header class="w-full">
    <div class="flex flex-col ">
        <div class="w-full bg-gradient-to-r from-sky-800 to-sky-950">
            <div class="px-2 max-w-6xl mx-auto lg:px-5 hidden md:flex flex-col lg:flex-row justify-between items-center ">
                <section class="flex gap-5 flex-wrap justify-center">
                    <div class="flex flex-col justify-center items-center ">
                        <Icon name="Phone" class='text-center text-lg text-slate-300'/>
                        <p class="text-xs text-center text-slate-300">342-45522558</p>
                    </div>
                    <div class="flex flex-col justify-center items-center ">
                        <Icon name="Mail" class='text-center text-lg text-slate-300'/>
                        <p class="text-xs text-center text-slate-300">mail-prueba@hmail.com</p>
                    </div>
                    <div class="sm:flex sm:flex-col hidden justify-center items-center ">
                        <Icon name="Location" class='text-center text-lg text-slate-300'/>
                        <p class="text-xs text-center text-slate-300">Av. San Martin 1234, Santa Fe, Malasia</p>
                    </div>
                </section>
                <section class="pt-5 py-3 flex gap-10">
                    <a href=""><Icon name="facebook" class="text-xl text-slate-200 hover:scale-110 transition"/></a>
                    <a href=""><Icon name="instagram" class="text-xl text-slate-200 hover:scale-110 transition"/></a>
                    <a href=""><Icon name="x" class="text-xl text-slate-200 hover:scale-110 transition"/></a>
                </section>
            </div>
        </div>
        <div class="py-5 flex justify-between px-5 items-center w-4/5 mx-auto">
            <div class="flex  p-0">
                <a href=""><img src="/images/decoLogo1.png" class="h-20 hover:scale-105 transition hover:cursor-pointer"alt=""></a>
            </div>
            <div class="w-2/3">
                <Icon name="MenuBurguer" title="Menu" id="burguer" class="text-5xl md:hidden ml-auto mr-5"/>
                <!-- Submenúes en vista desktop -->
                <section class="hidden md:block w-full">
                    <ul class="flex justify-evenly">
                        <li><a href="/" class="font-bold text-xl">Home</a></li>
                        <li><a href="/#ourfeatures"  class="font-bold text-xl">Our Features</a></li>
                        <li><a href="/#contact"  class="font-bold text-xl">Contact</a></li>
                        <li><a href="/gallery" class="font-bold text-xl">Galeria</a></li>
                    </ul>
                </section>
                <!-- Submenúes en vista mobile -->
                <div id="contenedorMenu" class="translate-x-full h-screen w-screen fixed top-0 right-0 z-10 bg-[#EFEED9] transition duration-500 ease-out">
                    <Icon name="close" id="close" class="absolute right-5 top-5 text-3xl"/>
                    <div class={`h-full flex items-center justify-center`}>
                        <ul class="flex flex-col items-center my-auto gap-24">
                            <li><a href="/" class="font-bold text-xl">Home</a></li>
                            <li><a href="/#ourfeatures" id="ourfe" class="font-bold text-xl">Our Features</a></li>
                            <li><a href="/#contact" id="contacct" class="font-bold text-xl">Contact</a></li>
                            <li><a href="/gallery" class="font-bold text-xl">Galeria</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const burguer = document.getElementById("burguer");
    const close = document.getElementById("close");

    const ourFeaturesLink = document.getElementById("ourfe");
    const contactLink = document.getElementById("contacct");

    const contenedorMenu = document.getElementById("contenedorMenu")

    

    burguer.addEventListener("click", ()=>{
        
        contenedorMenu.classList.remove("translate-x-full");
        contenedorMenu.classList.add("translate-x-0");

    })

    close.addEventListener("click",()=>{
        
        contenedorMenu.classList.remove("translate-x-0");
        contenedorMenu.classList.add("translate-x-full");
    })

    ourFeaturesLink.addEventListener("click",()=>{
        
        contenedorMenu.classList.remove("translate-x-0");
        contenedorMenu.classList.add("translate-x-full");
    })
    contactLink.addEventListener("click",()=>{
        
        contenedorMenu.classList.remove("translate-x-0");
        contenedorMenu.classList.add("translate-x-full");
    })


</script>