---
import {galleryy} from './imagenes/imagenesGallery.astro'
---

<div class="w-full h-full py-10 px-3">
    <div class="flex flex-col gap-3 mb-5">
        <h1 class="italic font-bold text-xl text-center">Galeria de nuestros trabajos</h1>
        <p class="text-center">Les compartimos una muestra de nuestros trabajos. Aqui encontrarán tanto inspiraciones para sus decoraciones como ejemplos de los diferentes estilos decorativos</p>
    </div>
    <div class="flex flex-col lg:block gap-2 mb-5">
        <h3 class="font-semibold">Seleccione color</h3>
        <select id="consulta" name="consulta" class="py-2 px-3">
            <option value="" disabled selected >Todo</opcion>
            <option value="beige">Beige</option>
            <option value="azul">Azul</option>
            <option value="verde">Verde oliva</option>
        </select>
    </div>
    <div class="flex flex-wrap gap-5 border justify-center">
        {
            galleryy.map((img)=>(
                <div class="flex justify-center border-black border-2">
                    <img src={img.link} class="w-36 sm:w-56 lg:w-72 hover:cursor-pointer hover:scale-105" alt="">
                </div>
            ))
        }
    </div>
</div>
